* {
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color:white;
	overflow: hidden;
}

@font-face {
	font-family: "Roboto";
	src: url('assets/RobotoMono-ExtraLight.ttf');
	font-display: swap;
}

p, h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto";
}

#header {
	margin: 20px auto 10vh 40px;
}

.container {
	width: 100vw;
	display: flex;
	align-items: center;
}

.left {
	width: 35%;
	position: relative;
	left: 0;
	float: left;
}

.right {
	width: 60%;
	max-width: 1000px;
	position: relative;
	right: 0;
	float: left;
}

#right-box {
	border: 1px solid black;
	margin-right: 10vw;
	height: 70vh;
	max-height: 600px;
}

hr {
	position: relative;
	margin-top: auto;
}

.first-button:hover {
	background-color: blue;
}

footer {
	position: absolute;
	bottom: 0;
}

footer > p {
	font-size: 0.9em;
	display: inline-block;
	margin: 0 15px 25px auto;
}
